<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  <a href="/account/indexTeacher" class="w3-bar-item w3-button">Home</a>
  <a href="/course/view{{account.slug}}" class="w3-bar-item w3-button">View submissions</a>
  
  <a href="" class="w3-bar-item w3-button">Logout</a>
  <a href="/chat.html?username={{account.email}}&room={{account.slug}}" class="w3-bar-item w3-button">Chat room</a>

<body>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Files :</th>
        <th>Status :</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>

      <tbody>
        {{#each file}}  
          <tr>
            <td>{{nameFile}}</td>
            <td>{{status}}</td>
            <td><a href="/course/evaluate/{{_id}}">đánh giá</a></td>

          </tr>
        {{/each}}
      </tbody>
  </table>
</body>
</html>