<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <a href="/account/indexTeacher" class="w3-bar-item w3-button">Home</a>
  <a href="/course/viewJava" class="w3-bar-item w3-button">View submissions</a>
  
  <a href="" class="w3-bar-item w3-button">Logout</a>

    {{#each data}}
    <form action="/course/dodanhgiabaibao{{_id}}" method="POST">
    <tbody>
        <tr>
        <th>
            <p>bạn có thể dowload file tại đây<a href="/download/{{_id}}"> {{nameFile}}</a></p>
            {{!-- <iframe src="/{{filePath}}" height="100%" width ="100%"></iframe> --}}
            <iframe src="/{{filePath}}" height="400px" width ="100%"></iframe>
        </th>
        </tr>

        <tr>
        <th>
            <a>Status: </a><input type = "text" name = "status"  value="{{status}}">
        </th>
        </tr>

        <tr>
        <th>
            
            <a>Comment: </a><input type = "text" name = "comment" placeholder="viết comment tại đây">
        </th>
        </tr>
            <button type="submit" class="btn btn-primary mt-4">cập nhật đnash giá</button>
    </tbody>
    </form>
    
{{/each}}
</body>
</html>

