{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>

      <tbody>
        {{#each teacher}}  
          <tr>
            <td>{{username}}</td>
            <td>{{email}}</td>
            
          </tr>
        {{/each}}
      </tbody>
  </table>


</body>
</html> --}}

<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<body>
  <a href="/account/indexAdmin" class="navbar-brand" >Home</a>
  <a href="/course/allcourse" class="navbar-brand" >Khóa học</a>
    <a href="/course/create" class="navbar-brand" > Create Faculity </a>
    <a href="/student/addStudent" class="navbar-brand" >Create student</a>
    <a href="/teacher/addTeacher" class="navbar-brand" >Create Teacher</a>
    <a href="" class="w3-bar-item w3-button">Logout</a>
  
  <table class="table table-striped">
    <thead>
      {{#each teacher}}  
      <tr>
        <th>Username</th>
        <td>{{username}}</td>
      </tr>
      <tr>
        <th>Email</th>
         <td>{{email}}</td>
      </tr>
      <tr>
        <th>Faculity</th>
         <td>{{slug}}</td>
      </tr>
      <tr>
        <th>Phone</th>
         <td>Phone</td>
      </tr>
      <tr>
        <th>Birthday</th>
         <td>Birthday</td>
      </tr>
      <tr>
        <th>Address</th>
         <td>Address</td>
      </tr>
      <tr>
        <th>Acction</th>
          <td><a href="/teacher/delete{{_id}}">Delete</a>
            <a href="/teacher/update{{_id}}">Update</a></td>
      </tr>
      {{/each}}
    </thead>
  </table>

</body>
</html>

