<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<body>


  <a href="/account/indexStudent" class="w3-bar-item w3-button">Home</a>
  <a href="/file/dieukhoan" class="w3-bar-item w3-button">uploadfile</a>
  <a href="/file/fileSubmited" class="w3-bar-item w3-button">File Submited</a>
  <a href="" class="w3-bar-item w3-button">Logout</a>


  <a href="/chat.html?username={{account.email}}&room={{account.slug}}" class="w3-bar-item w3-button">Chat room</a>
  <h1>thông tin cá nhân</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <td>{{account.username}}</td>
      </tr>
      <tr>
        <th>Email</th>
         <td>{{account.email}}</td>
      </tr>
      <tr>
        <th>Faculity</th>
         <td>{{account.slug}}</td>
      </tr>
      <tr>
        <th>Phone</th>
         <td>Phone</td>
      </tr>
      <tr>
        <th>Birthday</th>
         <td>Birthday</td>
      </tr>
      <tr>
        <th>Address</th>
         <td>Address</td>
      </tr>
    </thead>
  </table>

</body>
</html>
